@import 'roboto.css';

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
}

hr {
    margin: 30px 0;
}

.logos {
    display: flex;
}

.logo-webpack {
    width: 50px;
    height: 50px;
    background-image: url(../assets/webpack-logo.png);
    background-size: cover;
}

.logo-github {
    width: 50px;
    height: 50px;
    background-image: url(../assets/github-logo.png);
    background-size: cover;
}

.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}

.description {
    font-size: 0.8rem;
    color: gray;
    margin-top: 0;
}

.username {
    font-weight: bold;
}
